<table>
    <thead>
      <tr>
        <th>#</th>
        <th><i class="fa-solid fa-teeth"></i> Bemor</th>
        <th><i class="fa-solid fa-stethoscope"></i> Diagnoz</th>
        <th><i class="fa-solid fa-phone"></i> Telefon</th>
        <th><i class="fa-solid fa-map-location-dot"></i> Manzil</th>
       

      </tr>
    </thead>
    <tbody>
    
      {% for patient in patients %}
      <tr>
        <th></th>
        <td><a href="{% url 'patients_detail' patient.pk  %}">{{ patient }}</a></td>
        <td>{{ patient.diagnoz }}</td>
        <td>{{ patient.phone }}</td>
        <td>{{ patient.address }}</td>
      
    </tr>
      {%endfor%}  
    </tbody>
  </table>