{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1 class="display-6 text-center"> <i class="fa-solid fa-calendar-xmark"></i> Qabulni o'chirish</h1>

<div class="d-flex justify-content-center m-5 p-5">
    <div class="col-auto">

        <form action="" method="post">{% csrf_token %}
            <br>
            <p class="fs-4">"{{ appointment.patient }}" ismli bemorning <strong>{{ appointment.date}} {{appointment.time }}</strong> vaqtidagi qabulni o'chirishni istaysizmi?</p>
            <button class="btn btn-danger ml-2 mx-auto d-block" type="submit">Ha</button>

            <div class="d-flex justify-content-center mt-2"><a href="{% url 'dashboard' %}" class="btn btn-secondary" role="button">Yo'q</a></div>
        </form>

    </div>
</div>
{% endblock content %}