{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}



{% comment %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<input type="text" id="tags" name="q" class="input_search" placeholder="Bemorlar">
<br><br>

<br>
{% endcomment %}
  
<div class="d-flex justify-content-center m-5 p-5">
    <div class="col-auto">
        <h1 class="display-6 text-center"> <i class="fa-solid fa-calendar-days"></i> Qabulni Tahrirlash</h1>
        
        <form method="post" action="{% url 'appointment_edit' appointment.pk %}">{% csrf_token %}
            {{ appointment_form|crispy }}
            
            <button class="btn btn-primary ml-2" type="submit">Saqlash</button>
        </form>
        <br>
    </div>
</div>



{% endblock content %}